

.welcome{
padding-bottom:3%;
text-align:center;
}

.gradient-custom{
  display: flex;
  justify-content: center;

}

.logout :hover{
transform: scale(1.2);
transition-duration:1s;
}

.notify{
text-align:center;
color:green;
}

